<div class="dashboard">
	<div class="box box-groceries">
		<span class="box-heading">
			<span class="box-num">3</span>
<!-- <a onClick="javascript:window.location=">hello!</a> -->
		</span>
		<span class="box-detail">
			varer har gått ut på dato.<br>
					
		</span>

		<span class="box-middle"> 
			8
		</span>

		<span class="box-bottom"> 
			går ut snart	
		<span/>


	</div>
		<div class="box box-weather">
		<span class="box-heading">
			I morgen

		</span>
		<span class="box-detail">
			<img src="../img/rain.png" width="100px"><br>
		</span>

		<span class="box-middle"> 
			22 C
		</span>
			
		<span class="box-bottom"> 
			
		<span/>

	</div>



	<div class="box box-dinner">
		<span class="box-heading">
			MIDDAG?
		</span>
		<span class="box-detail">
			Mexican Tofu Fritatta
		</span>

	</div>
	<div class="box box-stats">
		<span class="box-heading">
			Kjøleskapstemperatur
		</span>
		<span class="box-detail">
			 XX C
		</span>

		<span class="box-middle"> 

		</span>
			
		<span class="box-bottom"> 

		<span/>

	</div>