<div class="dashboard">
	<div class="box box-groceries">
		<span class="box-heading">
			<h3>3</h3>
			<a onClick="javascript:window.location=">hello!</a>
		</span>
		<span class="box-detail">
			varer har gått ut på dato.
		</span>

	</div>
	<div class="box box-stats">
		<span class="box-heading">
			40%
		</span>
		<span class="box-detail">
			av varene ble kastet etter utløp.
		</span>

	</div>
	<div class="box box-dinner">
		<span class="box-heading">
			Middag?
		</span>
		<span class="box-detail">
			Mexican Tofu Fritatta
		</span>

	</div>
	<div class="box box-weather">
		<span class="box-heading">

		</span>
		<span class="box-detail">
		</span>

	</div>
</div>