.DS_Store

/FridaScanner/FridaScanner.xcodeproj/project.xcworkspace/xcuserdata/sebastianjara.xcuserdatad/
/FridaScanner/FridaScanner.xcodeproj/xcuserdata/sebastianjara.xcuserdatad/
/node_modules/
/mobile/.sass-cache/