<div class="fridge content">
	<h1>Mitt kjøleskap</h1>
  <h3 class="subtitle">Oversikt over alle varer scannet inn i kjøleskapet</h3>
  <div class="fridge-header">
    <span class="notice">Klikk på en vare for å slette den</span>
  </div>
	<div class="fridge-content clearfix">
                <div class="red section-title"><span class="table-alert">Utløper om få dager</span></div>
                    <div app-rotate ng-repeat="item in items" class="prod">
                      <div class="prod-inner">
                        <div class="front face">
                          <span class="prod-name">{{item.name}}</span>
                          <span class="prod-expire">2 dager</span>
                        </div>
                        <div class="back face">
                          <a class="del" ng-click="delete(item.id, $index);">Slett</a>
                          <a class="cancel" app-rotate-cancel>Avbryt</a>

                        </div>
                      </div>
                    </div>
    </div>
</div>
<script type="text/javascript">
$(document).on('ready', function() {
  $('.prod').on('click', function(){
    console.log("click!");
        $(this).find('.prod-inner').toggleClass('flipped');
        return false;
    });
});
</script>